.news {
    font-family: $font-main;
    background: $beige-bg;

    &__information {
        padding: 120px 84px;
        color: $dark-brown;
        display: flex;
        justify-content: space-between;
        position: relative;

        &-title {
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            position: absolute;
            top: 120px;
            left: 84px;
        }

        &-subtitle {
            text-align: right;
        }

        &-subtitle,
        &-text {
            font-size: 50px;
            font-weight: 400;
            line-height: 60px;
            letter-spacing: -0.03em;
        }
    }

    &__content {
        padding: 0 84px;

        &-header {
            margin-bottom: 48px;
            display: flex;
            justify-content: space-between;

            button {
                padding: 16px 36px;
                background: $color-light;
                color: $dark-brown;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                border: none;
                position: inherit;

                &:hover {
                    cursor: pointer;
                    background-color: $dark-brown;
                    color: $color-light;
                }
            }

            &-arrow {
                display: flex;
                width: 36px;
                height: 34px;
                padding-right: 120px;

                img:first-child {
                    margin-right: 48px;
                }
            }
        }
    }

    &__slider {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        min-width: 0;
        padding-bottom: 120px;

        .slick-arrow {
            position: absolute;
            top: -88px;

            &:hover {
                cursor: pointer;
            }
        }

        .prev {
            right: 64px;
        }

        .next {
            right: 0;
        }
    }

    &__slide {
        display: flex !important;
        min-width: 0;
        align-items: stretch;
        flex-direction: column;
        justify-content: space-between;
        max-width: 568px;


        &--picture {
            position: relative;

            img {
                width: 95%;
                height: 400px;
                object-fit: cover;
                background: $slider-bg;
                max-height: 450px;
            }

            &-text {
                position: absolute;
                top: 24px;
                left: 24px;
                font-size: 64px;
                font-weight: 400;
                line-height: 76px;
                color: $color-light;
                width: 95%;

                &.first {
                    width: 75%;
                }

                &:hover {
                    cursor: pointer;
                    border: none !important;
                }
            }

            &-btn {
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                background: $color-light;
                color: $dark-brown;
                text-transform: uppercase;
                position: absolute;
                bottom: 28px;
                right: 40px;
                width: 222px;
                text-align: left;
                border: none;
                padding: 10px;


                &:hover {
                    cursor: pointer;
                    background-color: $dark-brown;
                    color: $color-light;
                }
            }
        }

        &--title {
            color: $dark-brown;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            margin-top: 38px;
        }

        &--subtitle {
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            color: $dark-brown;
            margin-top: 15px;
        }

        &--list {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: $dark-brown;
            margin-top: 24px;
        }

    }

    &--descr {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        padding-left: 30px;
    }

    &--img {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    &--img img {
        height: 100%;
        width: auto
    }

    &--button {
        @include buttonstyle;
        border: none;
    }

    &--button:hover {
        cursor: pointer;
    }

    &--item {
        font-family: $font-main;
        font-weight: 400;
        line-height: calc($top-indent / 3);
        font-size: calc($top-indent / 4);
    }

    &--itemspecial {
        font-family: $font-main;
        font-weight: bold;
        line-height: calc($top-indent / 3);
        font-size: calc($top-indent / 4)
    }

    &--title {
        font-family: $font-main;
        font-weight: 700;
        line-height: 22px;
        font-size: calc($top-indent / 3);
    }

    &--subtitle {
        font-family: $font-main;
        font-weight: 400;
        line-height: calc($top-indent / 3);
        font-size: calc($top-indent / 4);
    }

    &--number {
        font-family: $font-main;
        font-weight: 700;
        line-height: calc($top-indent / 3);
        font-size: calc($top-indent / 4);
    }
}


.slick-slide {
    display: flex !important;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slick-slide .slick-current {
    display: flex;
}

.special__button {
    display: none;
}


@media screen and (max-width: 821px) {
    .news {
        padding: 60px 0;

        &__content {
            padding: 0 16px;
            text-align: center;

            &-header{
                justify-content: center;
            }
        }

        &__information {
            padding: 0 16px;
            text-align: center;

            &-title {
                left: 48px;
                top: 0;
            }

            div {
                margin-top: 100px;
                margin-bottom: 100px;
            }


            &-subtitle,
            &-text {
                font-size: 24px;
                line-height: 30px;
                text-align: center;
                display: inline;
            }

        }

        &__slider {

            .prev,
            .next {
                display: none !important;
            }

            img {
                width: auto;
                max-width: 500px;
            }

            .news__slide--picture-text {
                font-size: 32px;
                line-height: 38px;
            }

            .podcast {
                width: 50%;
            }
        }
    }
}