.results {
    font-family: $font-main;
    background: $color-light;
    padding: 120px 84px;

    &__context {
        display: flex;
        justify-content: space-between;
        flex: 0 0 25%;

        img {
            width: 372px;
            height: 482px;
        }

        &-left {
            flex: 0 0 50%;

            &-title {
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: $dark-brown;
                margin-bottom: 24px;
            }

            &-subtitle {
                font-weight: 400;
                font-size: 18px;
                line-height: 29px;
                color: $dark-brown;
                margin-bottom: 48px
            }

            &-button {
                display: flex;
                justify-content: center;
                margin-bottom: 110px;

                button {
                    background: $color-light;
                    padding: 16px 36px;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    position: inherit;

                    &:hover {
                        cursor: pointer;
                        background-color: $dark-brown;
                        color: $color-light;
                    }
                }
            }

            &-result {
                font-weight: 400;
                font-size: 48px;
                line-height: 60px;
                color: $dark-brown;
            }
        }
    }

    &__cards {
        display: flex;
        margin-top: 120px;

        &-card {
            flex: 0 0 25%;
            border-top: 1px solid $text-pink;
            margin-right: 24px;
            transition: transform 0.3s ease, background-color 0.3s ease;

            &:active,
            &.active {
                border-top: 1px solid $dark-red;

                p {
                    color: $dark-red;
                }
            }

            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: $text-pink;
                margin-top: 24px;
            }
        }
    }


}

@media screen and (max-width: 821px) {
    .results {
        padding: 60px 16px;

        &__context {
            flex-direction: column;
            img{
                width: 100%;
                height: 100%;
            }

            &-left {
                margin-top: 50px;
                text-align: center;

                &-result {
                    font-size: 32px;
                    line-height: 38px;
                }
            }
        }

        &__cards {
            flex-direction: column;
        }
    }
}