<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="src/styles/slick.css">
    <link rel="stylesheet" href="../../style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header-wrapper">
            <div class="header__logo">
                Ю & Є БЕЛЯЄВІ
            </div>
            <div class="burger-wrapper">
                <div class="burger-inner">
                    <div class="mobile-menu-wrapper hidden">
                        <div class="mobile-menu-inner">
                            <ul class="mobile-menu__list">
                                <li><a href="/index.html">Головна</a></li>
                                <li> <a href="src/pages/about-us.html">Про нас</a></li>
                                <li> <a href="src/pages/courses.html"> Курси</a></li>
                                <li> <a href="#">Новини</a></li>
                                <li><a href="#">Благодійність</a></li>
                                <li><a href="#">Результати студентів</a></li>
                                <li><a href="#">Волонтерство</a></li>
                            </ul>
                        </div>
                    </div>
    
                    <a href="#" class="burger-button">
                        <span class="burger-button_line"></span>
                    </a>
                </div>
            </div>
            <div class="burger-menu-wrapper">
                <div class="burger-menu-inner burger-menu-hidden">
                    <nav class="header__menu">
    
                        <ul class="header__list">
                            <li><a href="/index.html">Головна</a></li>
                            <li> <a href="src/pages/about-us.html">Про нас</a></li>
                            <li> <a href="src/pages/courses.html"> Курси</a></li>
                            <li> <a href="#">Новини</a></li>
                            <li><a href="#">Благодійність</a></li>
                            <li><a href="#">Результати студентів</a></li>
                            <li><a href="#">Волонтерство</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header__button">
                UA | EN
            </div>
        </div>
    </header>

    <main class="courses__free">
        <div class="crumbs">
            <div class="crumbs-subtitle">
                <a href="../../index.html">Головна</a>
                <span>/</span>
                <span>Новини</span>
            </div>
            <div class="crumbs-title">Новини</div>
        </div>
        <div class="container">
            <div class="courses__page">
                <div class="course">
                    <a href="courses-aci-description.html">Опис курсів ACI</a>
                    <p>Lorem ipsum dolor sit amet consectetur. Ultricies mattis urna dolor tristique nec lectus.</p>
                    <div class="circle"></div>
                    <button>Дізнатись більше</button>
                </div>
                <div class="course">
                    <a href="common-groups.html">Групи спільного навчання</a>
                    <p>Lorem ipsum dolor sit amet consectetur. Ultricies mattis urna dolor tristique nec lectus.</p>
                    <div class="circle"></div>
                    <button>Дізнатись більше</button>
                </div>
                <div class="course">
                    <a href="aci-1.page.html">ACI 1 "Основні вчення буддизму"</a>
                    <p>Lorem ipsum dolor sit amet consectetur. Ultricies mattis urna dolor tristique nec lectus.</p>
                    <div class="circle"></div>
                    <button>Дізнатись більше</button>
                </div>
                <div class="course">
                    <a href="#">ACI 2 "Буддійський прихисток"</a>
                    <p>Lorem ipsum dolor sit amet consectetur. Ultricies mattis urna dolor tristique nec lectus.</p>
                    <div class="circle"></div>
                    <button>Дізнатись більше</button>
                </div>
                <div class="course">
                    <a href="#">ACI 3 "Прикладна медитація"</a>
                    <p>Lorem ipsum dolor sit amet consectetur. Ultricies mattis urna dolor tristique nec lectus.</p>
                    <div class="circle"></div>
                    <button>Дізнатись більше</button>
                </div>
                <div class="course">
                    <a href="#">ACI 4 "Доєднання існування майбутніх життів"</a>
                    <p>Lorem ipsum dolor sit amet consectetur. Ultricies mattis urna dolor tristique nec lectus.</p>
                    <div class="circle"></div>
                    <button>Дізнатись більше</button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <ul>
                    <li><a href="#">Головна</a></li>
                    <li><a href="#">Про нас</a></li>
                    <li><a href="#">Курси</a></li>
                    <li><a href="#">Новини</a></li>
                    <li><a href="#">Контакти</a></li>
                </ul>
            </div>
            <div class="footer-center">
                <ul>
                    <li><a href="#">Благодійність/Карма клуб</a></li>
                    <li><a href="#">Результати студентів</a></li>
                    <li><a href="#">Волонтерство</a></li>
                    <li><a href="#">Часті запитання</a></li>
                    <li><a href="#">Книги</a></li>
                </ul>
            </div>
            <div class="footer-right">
                <form action="#">
                    <input type="text" placeholder="Пошук">
                    <img src="src/assets/img/search-icon.png" alt="">
                </form>
            </div>
       
            <div class="footer-picture">
                <img src="src/assets/img/footer-icon.png" alt="">
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024. Всі права захищені</p>
            <div class="social-links">
                <a href="#">Instagram</a>
                <a href="#">Telegram</a>
            </div>
        
        </div>
    </footer>
    <script src="../../js/main.js"></script>
</body>
</html>