<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="src/styles/slick.css">
    <link rel="stylesheet" href="../../../style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header-wrapper">
            <div class="header__logo">
                Ю & Є БЕЛЯЄВІ
            </div>
            <div class="burger-wrapper">
                <div class="burger-inner">
                    <div class="mobile-menu-wrapper hidden">
                        <div class="mobile-menu-inner">
                            <ul class="mobile-menu__list">
                                <li><a href="#">Головна</a></li>
                                <li> <a href="src/pages/about-us.html">Про нас</a></li>
                                <li> <a href="src/pages/courses.html"> Курси</a></li>
                                <li> <a href="#">Новини</a></li>
                                <li><a href="#">Благодійність</a></li>
                                <li><a href="#">Результати студентів</a></li>
                                <li><a href="#">Волонтерство</a></li>
                            </ul>
                        </div>
                    </div>
    
                    <a href="#" class="burger-button">
                        <span class="burger-button_line"></span>
                    </a>
                </div>
            </div>
            <div class="burger-menu-wrapper">
                <div class="burger-menu-inner burger-menu-hidden">
                    <nav class="header__menu">
    
                        <ul class="header__list">
                            <li><a href="#">Головна</a></li>
                            <li> <a href="src/pages/about-us.html">Про нас</a></li>
                            <li> <a href="src/pages/courses.html"> Курси</a></li>
                            <li> <a href="#">Новини</a></li>
                            <li><a href="#">Благодійність</a></li>
                            <li><a href="#">Результати студентів</a></li>
                            <li><a href="#">Волонтерство</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header__button">
                UA | EN
            </div>
        </div>
    </header>

    <main class="courses__aci">
        <div class="crumbs">
            <div class="crumbs-subtitle">
                <a href="../../../index.html">Головна</a>
                <span>/</span>
                <a href="courses.html">Курси</a>
                <span>/</span>
                <a href="courses-free.html">Безцінні курси АСІ</a>
                <span>/</span>
                <span>АСІ 1 “Основні вчення буддизму”</span>
            </div>
            <div class="crumbs-title">АСІ 1 “Основні вчення буддизму”</div>
        </div>
        <div class="container">
          <div class="courses__aci-descr">
            <div>
              <h5>липень 2024</h5>
              <p>Курс ACI 1 є ретельним вивченням трьох великих усвідомлень (зазвичай відомих як "три головні шляхи"), необхідних кожному практикуючому буддизму, саме тому він і є першим із цих 36 курсів. 
                Ось ці три усвідомлення:
                 </p>
              <ul>
                <li>зречення, чи занепокоєння щодо болю світу; </li>
                <li>бажання просвітлення чи бажання стати Буддою самому, щоб бути здатним допомогти кожній живій істоті у всесвіті;</li>
                <li>правильна думка про світ, або розуміння, що немає жодної людини і жодного об'єкта, який не походив би з насіння в моєму власному розумі.</li>
              </ul>
              <p>Цей курс заснований на п'ятій темі, «Середній шлях». Він ґрунтується на дуже відомій поемі Чже Цонгкапи (див. зображення), яка називається « Три головні шляхи» . Курс також містить повний текст коштовності коментаря до цієї поеми, автора Пабонгкі Рінпоче (1878-1941), найславетнішого тибетського лами початку XX століття, і корінного вчителя Тричжанга Рінпоче (1901-1981), корінного вчителя Кхена Рінпоче.</p>
            </div>
            <img src="../../assets/img/aci-teachers.png" alt="">
          </div>
          <div class="courses__aci-program">
            <div>

            </div>
            <div>
                <h5>Програма курсу</h5>
                <ol>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit odit dolorum saepe a aperiam, totam nulla excepturi rerum vel officia quisquam eligendi architecto quam sed, nemo, laborum possimus! Quaerat, alias!
                    Aut sapiente autem optio rerum sint vero similique impedit earum corrupti fugit, nisi enim ut error explicabo minus et, eum eos quo dolores ab molestiae exercitationem, eligendi laboriosam quis? Quidem.</li>
                    <li>Lorem ipsum dolor sit amet consectetur. Felis amet placerat montes nisl ut mauris habitant cras. Nibh molestie amet pellentesque in ut. Diam nulla ut blandit cras in consectetur ac eget non. Ac in nunc felis tortor integer turpis.</li>
                    <li>Lorem ipsum dolor sit amet consectetur. Felis amet placerat montes nisl ut mauris habitant cras. Nibh molestie amet pellentesque in ut. Diam nulla ut blandit cras in consectetur ac eget non. Ac in nunc felis tortor integer turpis.</li>
                    <li>Lorem ipsum dolor sit amet consectetur. Felis amet placerat montes nisl ut mauris habitant cras. Nibh molestie amet pellentesque in ut. Diam nulla ut blandit cras in consectetur ac eget non. Ac in nunc felis tortor integer turpis.</li>
                </ol>
                <div>Доєднатись</div>  
            </div>
    
          </div>
            
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <ul>
                    <li><a href="#">Головна</a></li>
                    <li><a href="#">Про нас</a></li>
                    <li><a href="#">Курси</a></li>
                    <li><a href="#">Новини</a></li>
                    <li><a href="#">Контакти</a></li>
                </ul>
            </div>
            <div class="footer-center">
                <ul>
                    <li><a href="#">Благодійність/Карма клуб</a></li>
                    <li><a href="#">Результати студентів</a></li>
                    <li><a href="#">Волонтерство</a></li>
                    <li><a href="#">Часті запитання</a></li>
                    <li><a href="#">Книги</a></li>
                </ul>
            </div>
            <div class="footer-right">
                <form action="#">
                    <input type="text" placeholder="Пошук">
                    <img src="src/assets/img/search-icon.png" alt="">
                </form>
            </div>
       
            <div class="footer-picture">
                <img src="src/assets/img/footer-icon.png" alt="">
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024. Всі права захищені</p>
            <div class="social-links">
                <a href="#">Instagram</a>
                <a href="#">Telegram</a>
            </div>
        
        </div>
    </footer>
    <script src="../../js/main.js"></script>
</body>
</html>