<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="src/styles/slick.css">
    <link rel="stylesheet" href="../../../style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header-wrapper">
            <div class="header__logo">
                Ю & Є БЕЛЯЄВІ
            </div>
            <div class="burger-wrapper">
                <div class="burger-inner">
                    <div class="mobile-menu-wrapper hidden">
                        <div class="mobile-menu-inner">
                            <ul class="mobile-menu__list">
                                <li><a href="#">Головна</a></li>
                                <li> <a href="src/pages/about-us.html">Про нас</a></li>
                                <li> <a href="src/pages/courses.html"> Курси</a></li>
                                <li> <a href="#">Новини</a></li>
                                <li><a href="#">Благодійність</a></li>
                                <li><a href="#">Результати студентів</a></li>
                                <li><a href="#">Волонтерство</a></li>
                            </ul>
                        </div>
                    </div>
    
                    <a href="#" class="burger-button">
                        <span class="burger-button_line"></span>
                    </a>
                </div>
            </div>
            <div class="burger-menu-wrapper">
                <div class="burger-menu-inner burger-menu-hidden">
                    <nav class="header__menu">
    
                        <ul class="header__list">
                            <li><a href="#">Головна</a></li>
                            <li> <a href="src/pages/about-us.html">Про нас</a></li>
                            <li> <a href="src/pages/courses.html"> Курси</a></li>
                            <li> <a href="#">Новини</a></li>
                            <li><a href="#">Благодійність</a></li>
                            <li><a href="#">Результати студентів</a></li>
                            <li><a href="#">Волонтерство</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header__button">
                UA | EN
            </div>
        </div>
    </header>

    <main class="courses__wonder">
        <div class="crumbs">
            <div class="crumbs-subtitle">
                <a href="../../../index.html">Головна</a>
                <span>/</span>
                <a href="courses.html">Курси</a>
                <span>/</span>
                <a href="courses-free.html">Безцінні курси АСІ</a>
                <span>/</span>
                <span>Wonder Money 7.0</span>
            </div>
            <div class="crumbs-title">Wonder Money 7.0</div>
        </div>
        <div class="container">  
            <section class="courses__wonder-money">
                <div>
                    <h5>липень 2024</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex similique, quas ipsum atque, aliquid voluptas suscipit reiciendis, architecto ab mollitia ullam dolore minima voluptatum distinctio aperiam laboriosam veritatis assumenda repellendus!
                    Quo praesentium magnam, suscipit distinctio possimus maiores quis tempora? Ut debitis mollitia ullam molestiae laudantium quaerat, ad minima adipisci dolor, illum ex tempora doloribus labore voluptas pariatur vero tenetur optio!
                    Placeat hic earum quasi eaque doloremque nesciunt quidem at accusamus magni unde ad perferendis, repellendus suscipit rem cum rerum possimus sunt odio minima! Hic recusandae iste dignissimos eius nobis neque?
                    Quo architecto minima alias cum tempora eligendi! Veniam ea et, nemo aut quidem hic dolore ab vero quia vitae temporibus animi incidunt reiciendis reprehenderit doloribus asperiores! Tenetur culpa doloremque tempore?
                    Expedita maiores voluptatibus ipsa voluptas mollitia excepturi consequuntur placeat et magni ea incidunt aperiam doloribus at omnis possimus autem vel temporibus ratione vero porro maxime, neque ab nulla. Recusandae, nemo!</p>
                       </p>
                    
                        <h5>Програма курсу</h5>
                        <ol>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit odit dolorum saepe a aperiam, totam nulla excepturi rerum vel officia quisquam eligendi architecto quam sed, nemo, laborum possimus! Quaerat, alias!
                            Aut sapiente autem optio rerum sint vero similique impedit earum corrupti fugit, nisi enim ut error explicabo minus et, eum eos quo dolores ab molestiae exercitationem, eligendi laboriosam quis? Quidem.</li>
                            <li>Lorem ipsum dolor sit amet consectetur. Felis amet placerat montes nisl ut mauris habitant cras. Nibh molestie amet pellentesque in ut. Diam nulla ut blandit cras in consectetur ac eget non. Ac in nunc felis tortor integer turpis.</li>
                            <li>Lorem ipsum dolor sit amet consectetur. Felis amet placerat montes nisl ut mauris habitant cras. Nibh molestie amet pellentesque in ut. Diam nulla ut blandit cras in consectetur ac eget non. Ac in nunc felis tortor integer turpis.</li>
                            <li>Lorem ipsum dolor sit amet consectetur. Felis amet placerat montes nisl ut mauris habitant cras. Nibh molestie amet pellentesque in ut. Diam nulla ut blandit cras in consectetur ac eget non. Ac in nunc felis tortor integer turpis.</li>
                        </ol>
                        <div>Доєднатись</div>  
                  </div>
                  <img src="../../assets/img/julia-wonder.png" alt="">
            </section>  
            <section class="results">
                <div class="results__context">
                    <div class="results__context-right">
                        <img src="../../assets/img/yana.PNG" alt="">
                    </div>
                    <div class="results__context-left">
                        <div class="results__context-left-title">Результати студентів</div>
                        <div class="results__context-left-subtitle">Дізнайтеся про успіхи наших студентів, читайте їхні
                            історії та враження від участі в наших курсах.</div>
                        <div class="results__context-left-button">
                            <button>дізнатися більше</button>
                        </div>
                        <div class="results__context-left-result">10 000$ на улюбленій справі. Пропала грошова тривога.
                        </div>
                    </div>
                </div>
                <div class="results__cards">
                    <div class="results__cards-card active">
                        <p>10 000$ на улюбленій справі</p>
                    </div>
                    <div class="results__cards-card">
                        <p>Після курсу дохід виріс х 5 разів</p>
                    </div>
                    <div class="results__cards-card">
                        <p>Після курсу збільшила дохід на 70% та відкрила ФОП</p>
                    </div>
                    <div class="results__cards-card">
                        <p>120 000 грн за місяць та 25 000 грн на благодійність</p>
                    </div>
                </div>
            </section> 
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <ul>
                    <li><a href="#">Головна</a></li>
                    <li><a href="#">Про нас</a></li>
                    <li><a href="#">Курси</a></li>
                    <li><a href="#">Новини</a></li>
                    <li><a href="#">Контакти</a></li>
                </ul>
            </div>
            <div class="footer-center">
                <ul>
                    <li><a href="#">Благодійність/Карма клуб</a></li>
                    <li><a href="#">Результати студентів</a></li>
                    <li><a href="#">Волонтерство</a></li>
                    <li><a href="#">Часті запитання</a></li>
                    <li><a href="#">Книги</a></li>
                </ul>
            </div>
            <div class="footer-right">
                <form action="#">
                    <input type="text" placeholder="Пошук">
                    <img src="src/assets/img/search-icon.png" alt="">
                </form>
            </div>
       
            <div class="footer-picture">
                <img src="src/assets/img/footer-icon.png" alt="">
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024. Всі права захищені</p>
            <div class="social-links">
                <a href="#">Instagram</a>
                <a href="#">Telegram</a>
            </div>
        
        </div>
    </footer>
    <script src="../../js/main.js"></script>
</body>
</html>